/.vs/ServerSideOnlineShop/config/applicationhost.config
/.vs/ServerSideOnlineShop/v16/.suo
/.vs/ServerSideOnlineShop/v16/Server/sqlite3/db.lock
/.vs/ServerSideOnlineShop/v16/Server/sqlite3/storage.ide
/.vs/ServerSideOnlineShop/v16/Server/sqlite3/storage.ide-shm
/.vs/ServerSideOnlineShop/v16/Server/sqlite3/storage.ide-wal
/DatabaseProject/bin/Debug/DatabaseProject.dacpac
/DatabaseProject/bin/Debug/DatabaseProject.dll
/DatabaseProject/bin/Debug/DatabaseProject.pdb
/DatabaseProject/obj/Debug/DatabaseProject.dll
/DatabaseProject/obj/Debug/DatabaseProject.pdb
/DatabaseProject/obj/Debug/DatabaseProject.sqlproj.FileListAbsolute.txt
/DatabaseProject/obj/Debug/DatabaseProject.sqlprojAssemblyReference.cache
/DatabaseProject/bin
/DatabaseProject/obj
/HttpServer/bin
/HttpServer/obj
/ServerSideOnlineShop/obj
/packages
/HttpServer/AppData/ShopOnline.mdf
/HttpServer/AppData/ShopOnline_log.ldf
/.vs/ServerSideOnlineShop/DesignTimeBuild/.dtbcache
/ServerSideOnlineShop/Properties/PublishProfiles/FolderProfile.pubxml
/ServerSideOnlineShop/Properties/PublishProfiles/FolderProfile.pubxml.user
/ServerSideOnlineShop/bin/Debug/netcoreapp3.1/HttpServer.dll
/ServerSideOnlineShop/bin/Debug/netcoreapp3.1/HttpServer.pdb
/ServerSideOnlineShop/bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.JsonPatch.dll
/ServerSideOnlineShop/bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.Mvc.NewtonsoftJson.dll
/ServerSideOnlineShop/bin/Debug/netcoreapp3.1/Microsoft.Bcl.AsyncInterfaces.dll
/ServerSideOnlineShop/bin/Debug/netcoreapp3.1/Microsoft.Bcl.HashCode.dll
/ServerSideOnlineShop/bin/Debug/netcoreapp3.1/Microsoft.Data.SqlClient.dll
/ServerSideOnlineShop/bin/Debug/netcoreapp3.1/Microsoft.DotNet.PlatformAbstractions.dll
/ServerSideOnlineShop/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.Abstractions.dll
/ServerSideOnlineShop/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.Relational.Design.dll
/ServerSideOnlineShop/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.Relational.dll
/ServerSideOnlineShop/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.SqlServer.Design.dll
/ServerSideOnlineShop/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.SqlServer.dll
/ServerSideOnlineShop/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.dll
/ServerSideOnlineShop/bin/Debug/netcoreapp3.1/Microsoft.Extensions.DependencyModel.dll
/ServerSideOnlineShop/bin/Debug/netcoreapp3.1/Microsoft.Identity.Client.dll
/ServerSideOnlineShop/bin/Debug/netcoreapp3.1/Newtonsoft.Json.Bson.dll
/ServerSideOnlineShop/bin/Debug/netcoreapp3.1/Newtonsoft.Json.dll
/ServerSideOnlineShop/bin/Debug/netcoreapp3.1/Properties/launchSettings.json
/ServerSideOnlineShop/bin/Debug/netcoreapp3.1/ServerSideOnlineShop.deps.json
/ServerSideOnlineShop/bin/Debug/netcoreapp3.1/ServerSideOnlineShop.dll
/ServerSideOnlineShop/bin/Debug/netcoreapp3.1/ServerSideOnlineShop.exe
/ServerSideOnlineShop/bin/Debug/netcoreapp3.1/ServerSideOnlineShop.pdb
/ServerSideOnlineShop/bin/Debug/netcoreapp3.1/ServerSideOnlineShop.runtimeconfig.dev.json
/ServerSideOnlineShop/bin/Debug/netcoreapp3.1/ServerSideOnlineShop.runtimeconfig.json
/ServerSideOnlineShop/bin/Debug/netcoreapp3.1/System.Configuration.ConfigurationManager.dll
/ServerSideOnlineShop/bin/Debug/netcoreapp3.1/System.Runtime.Caching.dll
/ServerSideOnlineShop/bin/Debug/netcoreapp3.1/System.Security.Cryptography.ProtectedData.dll
/ServerSideOnlineShop/bin/Debug/netcoreapp3.1/appsettings.Development.json
/ServerSideOnlineShop/bin/Debug/netcoreapp3.1/appsettings.json
/ServerSideOnlineShop/bin/Debug/netcoreapp3.1/runtimes/unix/lib/netcoreapp2.0/System.Runtime.Caching.dll
/ServerSideOnlineShop/bin/Debug/netcoreapp3.1/runtimes/unix/lib/netcoreapp2.1/Microsoft.Data.SqlClient.dll
/ServerSideOnlineShop/bin/Debug/netcoreapp3.1/runtimes/win-arm64/native/sni.dll
/ServerSideOnlineShop/bin/Debug/netcoreapp3.1/runtimes/win-x64/native/sni.dll
/ServerSideOnlineShop/bin/Debug/netcoreapp3.1/runtimes/win-x86/native/sni.dll
/ServerSideOnlineShop/bin/Debug/netcoreapp3.1/runtimes/win/lib/netcoreapp2.0/System.Runtime.Caching.dll
/ServerSideOnlineShop/bin/Debug/netcoreapp3.1/runtimes/win/lib/netcoreapp2.1/Microsoft.Data.SqlClient.dll
/ServerSideOnlineShop/bin/Debug/netcoreapp3.1/runtimes/win/lib/netstandard2.0/System.Security.Cryptography.ProtectedData.dll
