/.vs/ServerSideOnlineShop/config/applicationhost.config
/.vs/ServerSideOnlineShop/v16/.suo
/.vs/ServerSideOnlineShop/v16/Server/sqlite3/db.lock
/.vs/ServerSideOnlineShop/v16/Server/sqlite3/storage.ide
/.vs/ServerSideOnlineShop/v16/Server/sqlite3/storage.ide-shm
/.vs/ServerSideOnlineShop/v16/Server/sqlite3/storage.ide-wal
/DatabaseProject/bin/Debug/DatabaseProject.dacpac
/DatabaseProject/bin/Debug/DatabaseProject.dll
/DatabaseProject/bin/Debug/DatabaseProject.pdb
/DatabaseProject/obj/Debug/DatabaseProject.dll
/DatabaseProject/obj/Debug/DatabaseProject.pdb
/DatabaseProject/obj/Debug/DatabaseProject.sqlproj.FileListAbsolute.txt
/DatabaseProject/obj/Debug/DatabaseProject.sqlprojAssemblyReference.cache
/DatabaseProject/bin
/DatabaseProject/obj
/HttpServer/bin
/HttpServer/obj
/ServerSideOnlineShop/bin
/ServerSideOnlineShop/obj
/packages
